@use "../abstracts/" as a;

.parallax-group {
  &__outro-screen {
    padding: 10vmin;
    overflow: visible;
    &--flex-container {
      @include a.flex-column;
      gap: 2vw;
      flex-wrap: wrap;
    }

    &--title {
      grid-row: 1;
      grid-column: span 3;
      font-size: 3rem;
    }
    &--body {
      grid-row: 2;
      font-size: 1.6rem;
    }
    &--contact {
      grid-row: 3;
      grid-column: span 3;
    }
  }
}
