@use "../abstracts/" as a;

.parallax-group {
  &__intro-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--text-box {
      margin: 5vmax;
      max-height: 50%;

      & > h1,
      h2,
      p {
        margin-bottom: 2vh;
      }
    }
    &--picture-box {
      max-width: 30%;
      max-height: auto;
      margin: 5vmax;
      // & > .card {
      //   & > .card__side-2 {
      //     & > p {
      //       font-size: 1vw;
      //     }
      //   }
      // }
    }
  }
}

.inline-logo {
  display: inline-block;
  height: 6vw;
}
