@use "../abstracts/" as a;

.parallax-group__2 {
  &--layer-middle {
    background-color: a.$oc-green-4;
    @include a.flex-column;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;

    &-h2,
    &-h3 {
      margin-bottom: 3vh;
      text-align: center;
    }

    &-h2 {
      font-size: 3vh;
    }

    &-h3 {
      font-size: 6vh;
      font-weight: a.$font-very-thin;
    }

    .highlight {
      transition: all 6s ease;
      &-1 {
        font-size: 10vh;
        font-weight: a.$font-very-thin;
        font-style: italic;
        margin-bottom: -10vh;
        transition: all 9s ease;
      }
      &-2 {
        font-size: 15vh;
        font-weight: a.$font-regular;
        color: a.$oc-yellow-6;
        margin-top: -10vh;
        transition: all 10s ease;
      }
    }
  }
  &--layer-top {
    background-color: a.$oc-grape-7;
    @include a.flex-column;
    justify-content: center;
    p {
      color: a.$oc-green-7;
      font-weight: a.$font-black;
      text-align: center;
    }
    h3 {
      font-size: 6vh;
      font-weight: a.$font-regular;
      text-align: center;
      color: a.$oc-green-6;
      margin-bottom: 12vh;
    }
  }
}
